


<p-toast></p-toast>
<div class="main-container container-fluid">

  <div class="card secondary-container" *ngIf="isLoginInRegister">
    <div class="card-body p-5" id="reg-page1">
      <!--<div class="card-header h4"> Register form    </div>-->
      <div class="row row-space">
        <div class="col-6 p-field">
          <span class="p-float-label">
            <input id="float-input" type="text" [(ngModel)]="lmsUser.FirstName" pInputText style="width:100%" ng-pattern="([a-zA-Z]{3,30}\s*)+" [required]="true">
            <label for="float-input">First Name</label>
          </span>
        </div>
        <div class="col-6 p-field">
          <span class="p-float-label">
            <input id="float-input" type="text" [(ngModel)]="lmsUser.LastName" pInputText style="width:100%" ng-pattern="([a-zA-Z]{3,30}\s*)+" [required]="true">
            <label for="float-input">Last Name</label>
          </span>
        </div>
      </div>
      <div class="row row-space my-5">
        <div class="col-12 p-field">
          <span class="p-float-label">
            <input id="float-input" type="text" [(ngModel)]="lmsUser.Email" readonly pInputText style="width:100%">
            <label for="float-input">Email</label>
          </span>
        </div>
      </div>


      <div class="row row-space">
        <div class="col p-field">
          <span class="p-float-label">

            <p-dropdown [options]="genderOptions"  [(ngModel)]="lmsUser.Gender" optionLabel="label" optionValue="value" placeholder="Select Gender" [required]="true"></p-dropdown>
          </span>
        </div>
        <div class="col p-field">
          <span class="p-float-label">
            <p-dropdown [options]="UserTypeOptions"  [(ngModel)]="lmsUser.UserType" optionLabel="label" optionValue="value" placeholder="Select User Type" [required]="true"></p-dropdown>
          </span>
        </div>
      </div>
      <div class="row row-space text-center" style="margin-top:5%">
        <div class="col p-field">
          <p-button label="Register" (click)="register()"></p-button>
        </div>
      </div>

    </div>





  </div>





  <div style="text-align:center; top:55%; right:46% ;position:absolute" *ngIf="!isLoginInRegister">
    <button>
      <asl-google-signin-button type='standard' size='large'></asl-google-signin-button>

    </button>
  </div>


</div>
