
<main class="parent-section">

  <section class="side-nav-section">

    <div class="d-flex flex-nowrap sidebar">
      <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%;">
        <div class="text-center">
          <h1>
            <img style="border-radius:50%" height="150px" src="{{LoggedInUser.GoogleUser.photoUrl}}" />
          </h1>
        </div>
 



        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
          <span *ngIf="LoggedInUser.UserType==1" class="fs-4">Welcome, {{LoggedInUser.FirstName}} {{LoggedInUser.LastName}}</span>
          <span *ngIf="LoggedInUser.UserType==2" class="fs-4">Welcome, {{LoggedInUser.FirstName}} {{LoggedInUser.LastName}}</span>
        </a>
        <hr>


        <ul class="nav nav-pills flex-column mb-auto">

          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/dash" *ngIf="LoggedInUser.UserType==1" routerLinkActive="active" id="techerDashNav">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Teacher Dashboard
            </a>
            <a class="nav-link text-white" routerLink="/dash" *ngIf="LoggedInUser.UserType==2" routerLinkActive="active" id="StudentDashNav">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Student Dashboard
            </a>
          </li>

          <li class="nav-item" *ngIf="LoggedInUser.UserType==1">
            <a class="nav-link text-white" routerLink="/batch/list" routerLinkActive="active" id="BatchNav">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Batch
            </a>
          </li>

          <li class="nav-item" *ngIf="LoggedInUser.UserType==2">
            <a class="nav-link text-white" id="NotesNav" routerLinkActive="active" routerLink="/note/list">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Notes
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-white" id="ForumNav" routerLinkActive="active" routerLink="/forum">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Forum
            </a>
          </li>


          <li class="nav-item" >
            <a class="nav-link text-white" href="/login" (click)="logout()">
              <svg class="bi pe-none me-2" width="16" height="16"></svg>
              Logout
            </a>
          </li>


          <!--<div class=" b-example-vr"></div>-->
        </ul>


      </div>
    </div>
    <div class=" b-example-vr"></div>
  </section>


  <section class="main-section">
    <router-outlet></router-outlet>
  </section>

</main>
