

.sidebar {
  /*  flex-shrink: 0;*/
  /*  width: 1.5rem;*/
  position: fixed;
  height: 100%;
  width: 20%;
}


.parent-section {
  display: table;
  width: 100%;
  height: 100%;

}

.side-nav-section {
  display: table-cell;
  width: 20%;
  vertical-align: top;
  background-color: blueviolet
}

.main-section {
  display: table-cell;
  width: 80%;
  height:100vh;
  background-color:lightsteelblue
}
