################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LMS/LMS-Web/.vs/LMS-Web/v17/HierarchyCache.v1.txt
/LMS.rar
