.product-item {
  .product-item-content

{
  border: 1px solid var(--surface-d);
  border-radius: 3px;
  margin: .3rem;
  text-align: center;
  padding: 2rem 0;
}

.product-image {
  width: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}
}


.meetings-box {
  border: 2px groove;
  border-color: rebeccapurple;
  padding-bottom: 4%;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 2%
}


.listing {
  counter-increment: index;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px groove;
  border-left: 0.5px solid;
  border-bottom-color: dimgray;
  border-bottom-left-radius: 5px;
  padding-left:5%
}


.batch-card {
  margin: 1%;
  border: groove 2px;
  border-radius: 5px;
  border-color: rebeccapurple;
/*  background-color: cornflowerblue;*/
/*  padding: 5%;*/
  text-align: center;
}
.batch-card-body {
  border: groove 2px;
  border-radius: 5px;
  border-color: rebeccapurple;
  background-color:whitesmoke;
  margin-top:3%;
  margin-block:3%;
  margin-left:5%;
  margin-right:5%;

}
