







<div class="container">

  <div class="row my-5">
    <p-carousel [value]="StudentBatches" [numVisible]="3" [numScroll]="3" [circular]="false">

      <ng-template let-batch pTemplate="item">





        <div class="card text-center batch-card">
          <div class="card-header">
            Batch Details
          </div>
          <div style="background-color: aliceblue; border-top: solid 2px; border-bottom:solid 2px; border-color: rebeccapurple ">
            <div class="card-body batch-card-body">
              <h5 class="card-title">{{batch.BatchName}} - {{batch.BatchYear | date:'yyyy'}}</h5>
              <p class="card-text">{{batch.CourseName}}</p>
              <a (click)="goToCourseDetail(batch.BatchId)" class="btn btn-primary">View</a>
            </div>
          </div>
          <div class="card-footer text-muted" >
            {{batch.BatchYear | date:'yyyy'}}
          </div>
        </div>






      </ng-template>
    </p-carousel>
  </div>

  <div class="row">

    <div class="col" *ngIf="GroupMeetings.length>0">
      <div class="card meetings-box" style="min-height: 250px; overflow-y: scroll; max-height: 450px;">
        <div *ngFor="let meeting of GroupMeetings">
          <li class="listing">

            <div class="col-6">
              <div class="col">
                <div class="row">
                  <h4 class="col" style="padding: 2%;">{{meeting.Topic}}</h4>
                </div>
                <div class="row">
                  <span class="col" style="color: darkslategray;">
                    {{meeting.CourseName}}
                  </span>
                </div>
                <div class="row">
                  <span class="col" style="color: darkslategray;">
                    {{meeting.BatchName}}-{{meeting.BatchYear | date:'yyyy'}}
                  </span>
                </div>
              </div>


            </div>
            
            <div class="col-4">
              <span class="col" style="color: darkslategray;">
                {{meeting.StartTime | date:'fullDate'}} {{meeting.StartTime | date:'shortTime'}}
              </span>

            </div>
            <div class="col-2">
            <span>

              <a class="btn btn-primary">
                Join
              </a>

            </span>
            </div>
            
          </li>
        </div>
      </div>
      </div>

      <div class="col">

        <app-meetings></app-meetings>

      </div>


    </div>

</div>
