







<div class="container">

  <div class="row ">
    <!--<p-carousel [value]="StudentBatches" [numVisible]="3" [numScroll]="3" [circular]="false">
      <ng-template pTemplate="header">
        <h5>All Batches</h5>
      </ng-template>
      <ng-template let-batch pTemplate="item">

        <p-card>
          <ng-template pTemplate="header" style="text-align:center">
            {{batch.BatchName}}
          </ng-template>
          {{batch.BatchName}} - {{batch.BatchYear | date:'yyyy'}}
          <ng-template pTemplate="footer">
            <p-button label="View" (click)="goToCourseDetail(batch.BatchId)"></p-button>
          </ng-template>
        </p-card>



      </ng-template>
    </p-carousel>-->
  </div>

  <div class="row">

    <div class="col">

      <app-meetings></app-meetings>

    </div>


  </div>

</div>
