
<div class="container">

  <div class="container-fluid batch-box">







    <div class="row" style="margin-top:5%; margin-bottom:3%; text-align:center">
      <div class="col">
        <p-button label="Create Batch" (click)="showCreateBatch()"></p-button>
      </div>


    </div>


    <div class="row m-2" style="width:100%">

      <div class="col">
        <div class="container-fluid">

          <p-table *ngIf="Batches.length>0" [value]="Batches" [scrollable]="true" scrollHeight="750px" editMode="row">
            <ng-template pTemplate="header">
              <tr>
                <th>BatchId</th>
                <th>Batch Name</th>
                <th>Batch Year</th>
                <th>Course Name</th>
                <th>Group Meeting</th>
                <th colspan="2">Actions</th>
                <!--<t  h>Actions</th>-->
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-batch let-editing="editing" let-ri="rowIndex">
              <tr [pEditableRow]="batch">
                <td>{{batch.BatchId}}</td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="batch.BatchName">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{batch.BatchName}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <!--<input pInputText type="text" [(ngModel)]="batch.BatchYear">-->
                      <p-calendar [(ngModel)]="batch.BatchYear" view="year" dateFormat="yy"></p-calendar>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{batch.BatchYear | date:'YYYY'}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="batch.CourseName">
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{batch.CourseName}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-checkbox [(ngModel)]="batch.IsGroupMeetingAllowed" [binary]="true" inputId="IsGroupMeetingAllowed" class="m-2"></p-checkbox>
                      <label class="m-2" for="IsGroupMeetingAllowed">{{batch.IsGroupMeetingAllowed ? 'Yes':'No'}}</label>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{batch.IsGroupMeetingAllowed ? 'Yes':'No'}}
                    </ng-template>
                  </p-cellEditor>
                </td>
                <td>
                  <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" class="p-button-rounded p-button-text"></button>
                  <button *ngIf="editing" pButton pRipple type="button" (click)="UpdateBatch(batch)" pSaveEditableRow icon="pi pi-check" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                  <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger"></button>

                  <button  pButton pRipple type="button"  icon="pi pi-video" class="p-button-rounded p-button-text p-button-primary" (click)="selectedbatchId=batch.BatchId;isMeetingShow=true"></button>

                  <button  pButton pRipple type="button"  icon="pi pi-file" class="p-button-rounded p-button-text p-button-primary" (click)="selectedbatchId=batch.BatchId;isFileShow=true"></button>

                  <!--<p-button class="p-button-sm px-2" label="Meetings" (click)="selectedbatchId=batch.BatchId;isMeetingShow=true"></p-button>

                  <p-button class="p-button-sm px-2" label="Files" (click)="selectedbatchId=batch.BatchId;isFileShow=true"></p-button>-->
                </td>



                <!--<td>{{batch.BatchId}}</td>
  <td>{{batch.BatchName}}</td>
  <td>{{batch.BatchYear | date:'YYYY'}}</td>
  <td>{{batch.CourseName}}</td>
  <td>
    <p-button class="p-button-sm px-2" label="Meetings" (click)="selectedbatchId=batch.BatchId;isMeetingShow=true"></p-button>

    <p-button class="p-button-sm px-2" label="Files" (click)="selectedbatchId=batch.BatchId;isFileShow=true"></p-button>

  </td>-->
              </tr>
            </ng-template>
          </p-table>


          <div class="card p-5 text-center" *ngIf="Batches.length==0">
            No batches found
          </div>

        </div>

      </div>

    </div>



  </div>
</div>




<div *ngFor="let batch of Batches">
  <p-dialog [style]="{width: '70%', height:'85%'}"  header="Batch Files" [(visible)]="batch.BatchId==selectedbatchId && isMeetingShow" (onHide)="selectedbatchId=0;isMeetingShow=false ">
    <add-meeting *ngIf="batch.BatchId==selectedbatchId && isMeetingShow" [BatchId]="batch.BatchId"></add-meeting>
  </p-dialog>

  <p-dialog [style]="{width: '70%', height:'85%'}" header="Batch Files" [(visible)]="batch.BatchId==selectedbatchId && isFileShow" (onHide)="selectedbatchId=0;isFileShow=false;">
    <add-files *ngIf="batch.BatchId==selectedbatchId && isFileShow" [BatchId]="batch.BatchId"></add-files>
  </p-dialog>
</div>
