.p-listbox-footer{
    text-align:right;
    margin:2px
}


.cardbox {
  border: groove 2px;
  border-color: #3B428C;
  border-radius: 5px;
  padding: 5%;
  margin-top:5%;
  margin-left:2%;
  margin-right:5%;
  margin-bottom:5%;
  text-align:center;
  
}
