
.cardbox {
  border: groove 2px;
  border-color: #3B428C;
  border-radius: 5px;
  padding: 5%;
  margin-top: 5%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  text-align: center;
}


.batchListing {
  counter-increment: index;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 2px groove;
  border-bottom-color: dimgray;
  padding: 2%;
}
